.record {
    line-height: 1;
}

.record span {
    color: #b1b1b1;
    margin-right: 5px;
}

.record span::after {
    content: ':';
}

.record:not(:first-child):not(:last-child) {
    margin: .6em 0;
}
