.record {
    white-space: nowrap;
}

.record span:first-child {
    color: #b1b1b1;
    margin-right: 5px;
}

.record span:first-child::after {
    content: ':';
}

.record:not(:last-child) {
    margin-bottom: var(--base-margin);
}

.record span:last-child {
    color: #000;
}
