.record {
    line-height: 1;
}

.record span:first-child {
    color: #b1b1b1;
    margin-right: 5px;
}

.record span:first-child::after {
    content: ':';
}

.record:not(:first-child):not(:last-child) {
    margin: .6em 0;
}
