.input {
    position: relative;
    font-weight: var(--thin-weight);
}

.input__field {
    width: 100%;
    height: 34px;
    padding: 0 .85em;
    border: 1px solid var(--gray);
    border-radius: var(--second-border-radius);
    font-size: var(--normal-font);
}

.input__label {
    display: block;
    margin-bottom: 8px;
}

.input__field:focus {
    border-color: var(--dark-purple);
}

.input__field:focus + .input__label {
    transform: translateY(-160%);
}

.input__right-icon {
    position: absolute;
    top: 50%;
    right: .9em;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}