.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1.7em;
    border-radius: var(--main-border-radius);
    color: #000;
    font-size: var(--normal-font);
    font-weight: var(--thin-weight);
    white-space: nowrap;
}

.btn.red {
    color: var(--error-color);
}

.btn.medium {
    padding: 8px 16px;
}

.btn.large {
    padding: 8px 16px;
}

.btn.largeFont {
    font-size: var(--big-font);
    font-weight: var(--normal-weight);
    line-height: 30px;
}

.btn.solid {
    background: var(--light-gray);
}

.btn.solid.purple {
    background: var(--main-gradient);
    color: #fff;
}

.btn.solid.purple:hover {
    background: linear-gradient(130deg, var(--purple) 0%, var(--purple) 100%);
}

.btn.solid.purple:active {
    background: linear-gradient(130deg, var(--dark-purple) 0%, var(--dark-purple) 100%);
}

.btn.outlined {
    border: 1px solid var(--gray);
}

.btn.outlined.green {
    border-color: #27ae60;
}

.btn.outlined.red {
    border-color: var(--error-color);
}

.btn.outlined.aqua {
    border-color: #74eeee;
}

.btn.outlined.purple {
    border-color: var(--purple);
}

.btn.outlined.purple:hover {
    background: var(--purple);
    color: #fff;
}

.btn.outlined.purple:active {
    background: var(--dark-purple);
    color: #fff;
}

.btn.icon,
.btn.text {
    padding: 0;
}

.btn.icon:hover path {
    fill: var(--purple);
}

.btn:disabled {
    border: 1px solid var(--light-gray) !important;
    background: transparent !important;
    color: var(--gray) !important;
    cursor: not-allowed;
}
