.filter-list {
    min-height: 30px;
    user-select: none;
}

.filter-list,
.filter-list__btn,
.filter-list__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--normal-font);
}

.filter-list__btn {
    font-weight: var(--thin-weight);
    margin-right: 1.4em;
}

.filter-list__btn:hover {
     color: var(--purple);
}

.filter-list__btn:hover path {
    fill: var(--purple);
}

.filter-list__btn span {
    display: inherit;
    margin-left: .75em;
}

.filter-list__btn span svg {
    margin-left: .75em;
    transform: rotate(-90deg);
    transition: .2s all;
}

.filter-list__btn.active span svg {
    transform: rotate(90deg);
}