.toast {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 90;
    display: flex;
    align-items: center;
    padding: 1.15em 1.7em;
    border-radius: var(--main-border-radius);
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: var(--thin-weight);
    transform: translateX(-50%);
    user-select: none;
}

.toast .btn {
    margin-left: 1em;
    color: var(--link-color);
}
