.react-date-picker__wrapper {
    padding: 4px 12px;
    border-radius: var(--second-border-radius);
    border-color: var(--gray);
}

.react-date-picker__button,
.react-date-picker__inputGroup__input {
    margin: 0;
    padding: 0;
}

.react-date-picker__button:hover svg {
    fill: var(--dark-purple);
}

.react-date-picker__inputGroup__leadingZero {
    padding: 1px;
}
