.worker-list__item {
    position: relative;
    display: flex;
    padding: 1em;
    border-radius: 10px;
    background: #fff;
    transition: .2s box-shadow;
    box-shadow: var(--main-shadow);
    cursor: pointer;
    user-select: none;
}

.worker-list__item::before {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 4px;
    height: 70%;
    content: '';
    border-radius: 46px;
    transform: translateY(-50%);
}

.worker-list__item:hover {
    box-shadow: var(--second-shadow);
}

.worker-list__item.active {
    border: 1px solid var(--purple);
}

.worker-list__item__left {
    display: flex;
    max-width: 230px;
}

.worker-list__item__name {
    margin-bottom: .2em;
}

.worker-list__item__profession {
    font-size: .9rem;
    font-weight: 300;
}

.worker-list__item__picture {
    width: 50px;
    height: 50px;
    margin: 0 1.6em 0 .8em;
    border-radius: 50%;
    min-width: 50px;
    overflow: hidden;
}

.worker-list__item__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.worker-list__item__right {
    margin-left: 75px;
}

.worker-list__item.work::before {
    background: #27ae60;
}

.worker-list__item.mission::before {
    background: #4285f4;
}

.worker-list__item.vacation::before {
    background: #74eeee;
}

.worker-list__item.reason::before {
    background: #f2c94c;
}

.worker-list__item .context-menu {
    position: absolute;
    top: 1em;
    right: .5em;
}
