:root {
    --select-height: 34px;
}

.select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--select-height);
    padding: .6em 12px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    font-weight: var(--thin-weight);
    transition: .2s all;
    min-width: 140px;
    white-space: nowrap;
    user-select: none;
}

.select:hover {
    border-color: rgba(107, 0, 190, .5);
}

.select.active {
    border-color: var(--purple);
    background: transparent;
}

.select__current-item {
    margin-right: var(--base-margin);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--small-font);
}

.select__list {
    position: absolute;
    top: var(--select-height);
    left: 0;
    z-index: 10;
    padding: var(--base-padding) 0;
    border-radius: 10px;
    background: #fff;
    min-width: 100%;
    box-shadow: var(--second-shadow);
}

.select__item {
    padding: var(--base-padding);
    cursor: pointer;
    transition: .2s background;
}

.select__item:hover {
    background: var(--main-gradient);
    color: #fff;
}

.select__item--active {
    font-weight: var(--normal-weight);
}

.select__label {
    display: block;
    margin-bottom: var(--base-margin);
}

.select .btn.icon {
    margin: -4px;
}
