.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.4em;
}

.filter__label {
    margin-right: 1em;
    font-size: var(--small-font);
    font-weight: var(--thin-weight);
}
