.modal-window-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    display: none;
    width: 100%;
    height: 100vh;
    user-select: none;
}

.modal-window-wrapper.active {
    display: block;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1.5em 2em 2em 2em;
    background: #fff;
    transform: translateX(-50%) translateY(-50%);
    min-width: 600px;
}

.modal-window__header {
    display: flex;
    justify-content: space-between;
}

.modal-window__body {
    margin-top: 40px;
}

.modal-window h2 {
    font-weight: var(--thin-weight);
}

.modal-window__footer {
    display: flex;
    justify-content: space-around;
    margin-top: calc(var(--base-margin) * 5);
}

.modal-window__footer .btn {
    max-width: 240px;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
}
