.page-tab-list {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
}

.tab-list__item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1.8em 1em;
    color: #b1b1b1;
    font-weight: 300;
}

.tab-list__item.active {
    padding: .8em .5em;
    border-radius: 8px;
    background: #fff;
    color: #000;
    font-size: 2em;
    box-shadow: var(--second-shadow);
}

.tab-list__item::after {
    position: absolute;
    top: calc(50% - 20px);
    right: -1px;
    width: 1px;
    height: 40px;
    background: var(--light-gray);
    content: '';
}

.tab-list__item.active::after {
    content: none;
}

.tab-list__item .close-btn {
    margin-left: 1em;
    padding: .5em;
}

.tab-list__item a:hover {
    color: var(--purple);
}

.tab-list__item .close-btn:hover {
    border-radius: 2px;
    background: #f2f2f2;
}

.tab-list__item .close-btn:hover path {
    fill: var(--purple);
}

.tab-list__item__back {
    margin-right: 1.5em;
}

.tab-list__item__office,
.tab-list__item__prev-page {
    font-size: var(--small-font);
}

.tab-list__item__prev-page {
    color: var(--light-gray);
}
