.page-tab-list {
    display: flex;
}

.tab-list__item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1.8em 1em;
    color: #b1b1b1;
    font-weight: 300;
}

.tab-list__item-active {
    height: 81px;
    padding: 10px 16px;
    border-radius: 8px;
    background: #fff;
    color: #000;
    font-size: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.tab-list__item a {
    color: #b1b1b1;
}

.tab-list__item-active a {
    margin: 2px 0;
    color: #000;
    pointer-events: none;
}

.tab-list__item::after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    right: -1px;
    width: 1px;
    height: 40px;
    background: var(--light-gray);
}

.tab-list__item-active::after {
    content: none;
}

.tab-list__item .close-btn {
    margin-left: 1em;
    padding: .5em;
}

.tab-list__item a:hover {
    color: var(--purple);
}

.tab-list__item .close-btn:hover {
    border-radius: 2px;
    background: #f2f2f2;
}

.tab-list__item .close-btn:hover path {
    fill: var(--purple);
}

.tab-list__item__back {
    margin-right: 1.5em;
}

.tab-list__item__office,
.tab-list__item__prev-page {
    font-size: var(--font-size-xs);
}

.tab-list__item__prev-page {
    color: var(--light-gray);
}
