.sidebar {
    z-index: 9;
    display: flex;
    height: calc(100vh - 80px);
    padding: 1em .75em 1em 0;
    max-width: 225px;
    flex-flow: column wrap;
    box-shadow: var(--main-shadow);
    user-select: none;
}
