:root {
    --purple: #c0f;
    --dark-purple: #6c00bf;
    --gray: #a3a3a3;
    --light-gray: #dfdfdf;
    --error-color: #eb5757;
    --link-color: #4285f4;
    --main-gradient: linear-gradient(99.49deg, var(--purple) 2.5%, #6b00be 96.67%);
    --secondary-gradient: linear-gradient(99.49deg, var(--purple) 2.5%, var(--purple) 96.67%);
    --main-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    --alternate-shadow: 0 -4px 20px rgba(0, 0, 0, .1);
    --second-shadow: 0 0 10px rgba(0, 0, 0, .15);
    --main-font-family: roboto, sans-serif;
    --font-size-xs: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --thin-weight: 300;
    --normal-weight: 500;
    --bold-weight: 700;
    --very-bold-weight: 900;
    --main-border-radius: 10px;
    --second-border-radius: 8px;
    --base-padding: 8px;
    --padding-xs: 4px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --base-margin: 8px;
    --margin-xs: 4px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 32px;
}

*,
::after,
::before {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
    font-family: var(--main-font-family);
}

h1 {
    margin: 0;
    font-size: calc(var(--font-size-xl) * 2);
    font-weight: var(--very-bold-weight);
    line-height: 1.2;
}

h2 {
    margin: 0;
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: var(--bold-weight);
    line-height: 1.2;
}

h4 {
    margin: 0;
    font-size: var(--font-size-lg);
    font-weight: var(--normal-weight);
    line-height: 1.5;
}

a {
    display: inherit;
    color: var(--link-color);
    text-decoration: none;
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    user-select: none;
}

input {
    border: none;
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.HRM-app {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-columns: 225px 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    background: #f9f9f9;
}

.validation-error {
    border-color: var(--error-color) !important;
}

.small {
    font-size: var(--font-size-xs);
}

.gray {
    color: var(--gray);
}

/* ------------- PAGES STYLES ------------- */
.vacancies,
.salary,
.documents,
.vacancy-detail,
.candidates {
    height: 100%;
    padding: 2em;
}

.workers {
    display: flex;
    height: 100%;
}

.worker-list {
    flex: 1 1 100%;
    padding: calc(var(--base-padding) * 4);
}

.worker-list.opened-worker {
    max-width: 25%;
}

.worker-list.opened-worker .worker-list__item__left {
    max-width: initial;
}

.worker-list.opened-worker .worker-list__item__right {
    display: none;
}

.worker-list.opened-worker .filter-list__btn {
    width: 100%;
}

.worker-list.opened-worker .filter-list__items {
    width: 60%;
}

.worker-list.opened-worker .filter {
    width: 100%;
    margin: .5em 0;
}

.worker-list.opened-worker .filter:first-child {
    margin-top: 1em;
}

.worker-list.opened-worker .tool-bar__group-item {
    display: none;
}

.vacancy-list__modal-window h3 {
    font-weight: var(--thin-weight);
}

.vacancy-list__modal-window__section {
    margin-top: 6.85em;
}

.salary .table .table__body {
    grid-template-columns: 1fr repeat(10, 8%);
}

.salary .table-row,
.salary .table-sort-row {
    grid-template-columns: 1fr repeat(10, 6%);
    grid-gap: 2em;
    justify-items: end;
}

.salary__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1em;
    border-radius: var(--main-border-radius);
    background: #fff;
    box-shadow: var(--alternate-shadow);
}

.salary__footer__total-sum {
    display: flex;
    align-items: center;
    margin: 0 3em;
    font-size: var(--font-size-xl);
    font-weight: var(--bold-weight);
}

.documents .table-row {
    grid-template-columns: 1fr 105px repeat(2, 50px) 75px 25px;
    line-height: 0;
}

.candidate-list {
    margin-top: 1.6em;
}
